{% extends "base_page.html" %}

{% block page_title %}{{page.name}}{% endblock %}

{% block content %}
<h3>Record new eventname</h3>
<div>
      <form method="POST" class="post-form">{% csrf_token %}
        <center>
            <table>
                <tr>
                    <td><div class="fieldWrapper">
                        {{ form.event.errors }}
                        <label for="{{ form.event.id_for_label }}">Event ID:</label>
                        {{ form.event }}
                    </div></td>
                    <td><div class="fieldWrapper">
                        {{ form.operator.errors }}
                        <label for="{{ form.operator.id_for_label }}">Operator Name:</label>
                        {{ form.operator }}
                    </div></td>
                    <td><div class="fieldWrapper">
                        {{ form.name.errors }}
                        <label for="{{ form.name.id_for_label }}">Name:</label>
                        {{ form.name }}
                    </div></td>
                </tr>
                <tr>
                    <td><div class="fieldWrapper">
                    <button type="sumbit" class="save btn btn-default">Submit</button>
                    </div></td>
		    <td></td>
		    <td></td>
                </tr>
            </table>
        </center>
    </form>
</div>  

{% if message != 'none' %}
<div>
    <center>
        <h5>{{ message }}</h5>
    </center>
</div>
{% endif %}
{% endblock %}
