{% extends "dashboard_base.html" %}
{% block title %}ROME/REA Key Project Status: {{ status_time }} UT [HJD: {{ status_time_jd }}]{% endblock %}

{% block updated1 %}{{ upd1 }} {% endblock %}
{% block comments1 %}{{ com1 }}{% endblock %}

{% block updated2 %}{{ upd2 }}{% endblock %}
{% block comments2 %}{{ com2 }}{% endblock %}

{% block updated3 %}{{ upd3 }}{% endblock %}
{% block comments3 %}{{ com3 }}{% endblock %}

{% block updated4 %}{{ upd4 }}{% endblock %}
{% block comments4 %}{{ com4 }}{% endblock %}

{% block updated5 %}{{ upd5 }}{% endblock %}
{% block comments5 %}{{ com5 }}{% endblock %}
