{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div id="content">
<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        </button>
    </div>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'list_all' %}">Events</a></li>
      <li><a href="{% url 'list_anomalies' %}">Anomalies</a></li>
      <li><a href="{% url 'search_events' %}">Search DB</a></li>
      <li><a href="{% url 'obs_log' date=date_today %}">Observations</a></li>
      <li><a href="{% url 'obs_requests24' %}">ObsRequests24</a></li>
      <li><a href="{% url 'active_obs_requests' %}">ActiveObsReqs</a></li>
      <li><a href="{% url 'obs_monitor' %}">ObsMonitor</a></li>
      <li><a href="{% url 'tap' %}">TAP</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<!-- BEGIN WRAPPING TABLE -->
<div>
    <center>
<table border="1" width=900 bgcolor="#FFFFFF">
<tr><td>

<!-- BEGIN MAP TABLE -->
<div>
    <center>
<h4 style="color: #000000">{% block title %}ROME/REA Key Project Status: {{ status_time }} UT [HJD: {{ status_time_jd }}]{% endblock %}</h4>
<!-- Uncomment to view without marks <img src="http://www.fourmilab.ch/cgi-bin/Earth?img=clou
dy.bmp&imgsize=320&dynimg=y&opt=-p&lat=&lon=&alt=&tle=&date=0&utc=&jd=" width="560" border="2
"/> -->
<! -- Uncomment to view with marks-->
<table>
<tr>
<td background="http://www.fourmilab.ch/cgi-bin/Earth?img=cloudy.bmp&imgsize=320&dynimg=y&opt=-p&lat=&lon=&alt=&tle=&date=0&utc=&jd=" width="640" height="320" valign=top>
  {% ifequal coj_doma "AVAILABLE" %}
    <DIV style="position: relative; top:210px; left:570px; width:20px; height:25px"><font color='#3EED32'><b>A</b></font></DIV><!-- COJ -->
  {% else %}
    <DIV style="position: relative; top:210px; left:570px; width:20px; height:25px"><font color='#EDC532'><b>A</b></font></DIV><!-- COJ -->
  {% endifequal %}
  {% ifequal coj_domb "AVAILABLE" %}
    <DIV style="position: relative; top:185px; left:585px; width:20px; height:25px"><font color='#3EED32'><b>B</b></font></DIV><!-- COJ -->
  {% else %}
    <DIV style="position: relative; top:185px; left:585px; width:20px; height:25px"><font color='#EDC532'><b>B</b></font></DIV><!-- COJ -->
  {% endifequal %}
  {% ifequal lsc_doma "AVAILABLE" %}
    <DIV style="position: relative; top:153px; left:185px; width:20px; height:25px"><font color='#3EED32'><b>A</b></font></DIV><!-- LSC -->
  {% else %}
    <DIV style="position: relative; top:153px; left:185px; width:20px; height:25px"><font color='#EDC532'><b>A</b></font></DIV><!-- LSC -->
  {% endifequal %}
  {% ifequal lsc_domb "AVAILABLE" %}
    <DIV style="position: relative; top:128px; left:200px; width:20px; height:25px"><font color='#3EED32'><b>B</b></font></DIV><!-- LSC -->
  {% else %}
    <DIV style="position: relative; top:128px; left:200px; width:20px; height:25px"><font color='#EDC532'><b>B</b></font></DIV><!-- LSC -->
  {% endifequal %}
  {% ifequal lsc_domc "AVAILABLE" %}
    <DIV style="position: relative; top:103px; left:215px; width:20px; height:25px"><font color='#3EED32'><b>C</b></font></DIV><!-- LSC -->
  {% else %}
    <DIV style="position: relative; top:103px; left:215px; width:20px; height:25px"><font color='#EDC532'><b>C</b></font></DIV><!-- LSC -->
  {% endifequal %}
  {% ifequal cpt_doma "AVAILABLE" %}
    <DIV style="position: relative; top:80px; left:335px; width:20px; height:25px"><font color='#3EED32'><b>A</b></font></DIV><!-- CPT -->
  {% else %}
    <DIV style="position: relative; top:80px; left:335px; width:20px; height:25px"><font color='#EDC532'><b>A</b></font></DIV><!-- CPT -->
  {% endifequal %}
  {% ifequal cpt_domb "AVAILABLE" %}
    <DIV style="position: relative; top:55px; left:350px; width:20px; height:25px"><font color='#3EED32'><b>B</b></font></DIV><!-- CPT -->
  {% else %}
    <DIV style="position: relative; top:55px; left:350px; width:20px; height:25px"><font color='#EDC532'><b>B</b></font></DIV><!-- CPT -->
  {% endifequal %}
  {% ifequal cpt_domc "AVAILABLE" %}
    <DIV style="position: relative; top:30px; left:365px; width:20px; height:25px"><font color='#3EED32'><b>C</b></font></DIV><!-- CPT -->
  {% else %}
    <DIV style="position: relative; top:30px; left:365px; width:20px; height:25px"><font color='#EDC532'><b>C</b></font></DIV><!-- CPT -->
  {% endifequal %}
</td>
</tr>
</table>
    </center>
</div>
<!-- END MAP TABLE -->

<div>
    <center>
<table border="0" width=400>
  <tr>
    <td width=40><b>Time</b></td><td width=40>Used:{{ time_used }} hrs</td> <td width=80>Allocated:{{ time_available }} hrs</td>
  </tr>
  <tr>
    <td width=40><b>IPP </b></td><td width=40>Available:{{ ipp_time_available }}</td> <td width=80> Limit:{{ ipp_limit }}</td>
  </tr>
</table>
    </center>
</div>
    
<!-- BEGIN PROCESS STATES TABLE -->
<div>
    <center>
<table border="1" bgcolor="#FFFFFF" width=900>
  <tr>
  <!-- ROW 1 -->
   <!-- Column 1 -->
   <td bgcolor="#609ab6" width=200><b style="color: #FFFFFF ">Process</b></td>
   <!-- Column 2 -->
   <td bgcolor="#609ab6" width=200><b style="color: #FFFFFF ">Last updated</b></td>
   <!-- Column 3 -->
   <td bgcolor="#609ab6" width=500><b style="color: #FFFFFF ">Description</b></td>
  </tr>
  {% for err in errors %}    
    <tr>
    <!-- Column 1 -->
    <td bgcolor="#E6E6B8" width=200><b style="color: #000000">{{err.codename}}</b></td>
    <!-- Column 2 -->
    <td bgcolor="#E6E6B8" width=200><font style="color: #000000">{{err.ts}}</font></td>
    <!-- Column 3 -->
    <td bgcolor="#E6E6B8" width=500><font style="color: #000000">{{err.status}}</font></td>
  </tr>
  {% endfor %}
</table>
    </center>
</div>
<!-- END TABLE TWO -->

</center>
{% endblock %}
