{% load staticfiles %}
<html lang="en">
<head>
    <meta HTTP-EQUIV="PRAGMA" content="NO-CACHE">
    <meta name="robots" content="NONE,NOARCHIVE" />
    <link rel="stylesheet" type="text/css" href={% static 'events/events.css' %} />
    <title>ROME/REA Key Project Status</title>
</head>

<body bgcolor="#98AFC7" style="font-family:verdana;">
<!-- Container -->
<div id="container">
   <!-- Header -->
   <div id="header">
        <div id="branding">
           <h1 id="site-name"><a href="{% url 'dashboard' %}">ROME/REA Database View</a></h1>
        </div>
        <div id="user-tools">
	        {% if user.is_authenticated %}
                Welcome,
                <strong>{{ user.first_name }}</strong>.
                    <a href="{% url 'dashboard' %}">VIEW DB</a> /
                    <a href="{% url 'home_html' %}">HOME</a> /
                    <a href="{% url 'change_password' %}">Change PWD</a> /
                    <a href="{% url 'logout' %}">LOG OUT</a>
		{% else %}
                    <a href="{% url 'login' %}">LOG IN</a>
                {% endif %}
       </div>
    </div>
    <!-- END Header --> 
<!-- Content -->
<div id="content">

<center>
<!-- BEGIN WRAPPING TABLE -->
<table border="1" width=900 bgcolor="#FFFFFF">
<tr><td>
<center>
<!-- BEGIN MAP TABLE -->
<h4 style="color: #000000">{% block title %}ROME/REA Key Project Status:{% endblock %}</h4>
<!-- Uncomment to view without marks <img src="http://www.fourmilab.ch/cgi-bin/Earth?img=clou
dy.bmp&imgsize=320&dynimg=y&opt=-p&lat=&lon=&alt=&tle=&date=0&utc=&jd=" width="560" border="2
"/> -->
<! -- Uncomment to view with marks-->
<table>
<tr>
<td background="http://www.fourmilab.ch/cgi-bin/Earth?img=cloudy.bmp&imgsize=320&dynimg=y&opt=-p&lat=&lon=&alt=&tle=&date=0&utc=&jd=" width="640" height="320" valign=top>
  {% ifequal coj_doma "AVAILABLE" %}
    <DIV style="position: relative; top:210px; left:570px; width:20px; height:25px"><font color='#3EED32'><b>A</b></font></DIV><!-- COJ -->
  {% else %}
    <DIV style="position: relative; top:210px; left:570px; width:20px; height:25px"><font color='#EDC532'><b>A</b></font></DIV><!-- COJ -->
  {% endifequal %}
  {% ifequal coj_domb "AVAILABLE" %}
    <DIV style="position: relative; top:185px; left:585px; width:20px; height:25px"><font color='#3EED32'><b>B</b></font></DIV><!-- COJ -->
  {% else %}
    <DIV style="position: relative; top:185px; left:585px; width:20px; height:25px"><font color='#EDC532'><b>B</b></font></DIV><!-- COJ -->
  {% endifequal %}
  {% ifequal lsc_doma "AVAILABLE" %}
    <DIV style="position: relative; top:153px; left:185px; width:20px; height:25px"><font color='#3EED32'><b>A</b></font></DIV><!-- LSC -->
  {% else %}
    <DIV style="position: relative; top:153px; left:185px; width:20px; height:25px"><font color='#EDC532'><b>A</b></font></DIV><!-- LSC -->
  {% endifequal %}
  {% ifequal lsc_domb "AVAILABLE" %}
    <DIV style="position: relative; top:128px; left:200px; width:20px; height:25px"><font color='#3EED32'><b>B</b></font></DIV><!-- LSC -->
  {% else %}
    <DIV style="position: relative; top:128px; left:200px; width:20px; height:25px"><font color='#EDC532'><b>B</b></font></DIV><!-- LSC -->
  {% endifequal %}
  {% ifequal lsc_domc "AVAILABLE" %}
    <DIV style="position: relative; top:103px; left:215px; width:20px; height:25px"><font color='#3EED32'><b>C</b></font></DIV><!-- LSC -->
  {% else %}
    <DIV style="position: relative; top:103px; left:215px; width:20px; height:25px"><font color='#EDC532'><b>C</b></font></DIV><!-- LSC -->
  {% endifequal %}
  {% ifequal cpt_doma "AVAILABLE" %}
    <DIV style="position: relative; top:80px; left:335px; width:20px; height:25px"><font color='#3EED32'><b>A</b></font></DIV><!-- CPT -->
  {% else %}
    <DIV style="position: relative; top:80px; left:335px; width:20px; height:25px"><font color='#EDC532'><b>A</b></font></DIV><!-- CPT -->
  {% endifequal %}
  {% ifequal cpt_domb "AVAILABLE" %}
    <DIV style="position: relative; top:55px; left:350px; width:20px; height:25px"><font color='#3EED32'><b>B</b></font></DIV><!-- CPT -->
  {% else %}
    <DIV style="position: relative; top:55px; left:350px; width:20px; height:25px"><font color='#EDC532'><b>B</b></font></DIV><!-- CPT -->
  {% endifequal %}
  {% ifequal cpt_domc "AVAILABLE" %}
    <DIV style="position: relative; top:30px; left:365px; width:20px; height:25px"><font color='#3EED32'><b>C</b></font></DIV><!-- CPT -->
  {% else %}
    <DIV style="position: relative; top:30px; left:365px; width:20px; height:25px"><font color='#EDC532'><b>C</b></font></DIV><!-- CPT -->
  {% endifequal %}
</td>
</tr>
</table>
<!-- END MAP TABLE -->

<br>
<!-- uncomment to view without clouds and without marks
<a href="http://www.fourmilab.ch/earthview/" target="_blank"> <img src ="http://www.fourmilab
.ch/cgi-bin/Earth?img=learth.evif&imgsize=320&dynimg=y&opt=-p&lat=&lon=&alt=&tle=&date=0&utc=
&jd=" width = "500" border="0"/>
</a> --> 
<table border="0" width=400>
  <tr>
    <td width=40><b>Time</b></td><td width=40>Used:{{ time_used }} hrs</td> <td width=80>Allocated:{{ time_available }} hrs</td>
  </tr>
  <tr>
    <td width=40><b>IPP </b></td><td width=40>Available:{{ ipp_time_available }}</td> <td width=80> Limit:{{ ipp_limit }}</td>
  </tr>
</table>
<br>
<!-- BEGIN TABLE ONE -->
<table border="" bgcolor="#FFFFFF">
  <tr>
   <!-- Column 1 -->
   <td bgcolor="#E6E6B8" title="List of all events in the database"><b style="color: #000000"><a href={% url 'list_all' %} STYLE="text-decoration:none">Events</a></b></td>
   <!-- Column 2 -->
   <td bgcolor="#E6E6B8" title="Search events in the database"><b style="color: #000000"><a href={% url 'search_events' %} STYLE="text-decoration:none">Search DB</a></b></td>
   <!-- Column 3 -->
   <td bgcolor="#E6E6B8" title="List of images obtained in the last 24 hours"><b style="color: #000000"><a href={% url 'obs_log' date=date_today %} STYLE="text-decoration:none">Observations</a></b></td>
   <!-- Column 4 -->
   <td bgcolor="#E6E6B8" title="List of observation requests submitted in the last 24 hours"><b style="color: #000000"><a href={% url 'obs_requests24' %} STYLE="text-decoration:none">ObsRequests24</a></b></td>
   <!-- Column 5 -->
   <td bgcolor="#E6E6B8" title="List of active observation requests"><b style="color: #000000"><a href={% url 'active_obs_requests' %} STYLE="text-decoration:none">ActiveObsReqs</a></b></td>
   <!-- Column 6 -->
   <td bgcolor="#E6E6B8" title="Observations Monitor"><b style="color: #000000"><a href={% url 'obs_monitor' %} STYLE="text-decoration:none">Obs Monitor</a></b></td>
   <!-- Column 7 -->
   <td bgcolor="#E6E6B8" title="REA/TAP list or prioritized targets"><b style="color: #000000"><a href={% url 'tap' %} STYLE="text-decoration:none">TAP</a></b></td>
  </tr>
</table>
<!-- END TABLE ONE -->
</center>
</td></tr>
</table>
<!-- END WRAPPING TABLE -->

<!-- BEGIN TABLE TWO -->
<table border="1" bgcolor="#FFFFFF" width=900>
  <tr>
  <!-- ROW 1 -->
   <!-- Column 1 -->
   <td bgcolor="#609ab6" width=200><b style="color: #FFFFFF ">Process</b></td>
   <!-- Column 2 -->
   <td bgcolor="#609ab6" width=200><b style="color: #FFFFFF ">Last updated</b></td>
   <!-- Column 3 -->
   <td bgcolor="#609ab6" width=500><b style="color: #FFFFFF ">Description</b></td>
  </tr>
  {% for err in errors %}    
    <tr>
    <!-- Column 1 -->
    <td bgcolor="#E6E6B8" width=200><b style="color: #000000">{{err.codename}}</b></td>
    <!-- Column 2 -->
    <td bgcolor="#E6E6B8" width=200><font style="color: #000000">{{err.ts}}</font></td>
    <!-- Column 3 -->
    <td bgcolor="#E6E6B8" width=500><font style="color: #000000">{{err.status}}</font></td>
  </tr>
  {% endfor %}
</table>
<!-- END TABLE TWO -->

</center>
</div>
<!-- End Content -->

</div>
<!-- End Container -->
</body>
</html>
