{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if rows %}
<center>
    <script type="text/javascript" src="{% static 'events/sorttable.js' %}"></script>
    <h2>Events in database</h2>
    <table class="sortable" border="0">
    <tr>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">ID:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Known Names:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Field:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">RA:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">DEC:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Status:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Discovered:</b></td>
    </tr>
    <ul>
    {% for row in rows %}
    <tr bgcolor="{% cycle '#E6E6B8' '#FFFFCC' %}">
        <td> {{ row.0 }} </td>
           <td>{% for name in row.1 %}
	      <a href={% url 'show_event' event_name=name %} STYLE="text-decoration:none">{{ name }}</a><br>
	      {% endfor %}
	   </td>
	{% if row.2 == "Outside ROMEREA" %}
	   <td style="color: #999999 ">{{ row.2 }} </td>
	   <td style="color: #999999 ">{{ row.3 }} </td>
	   <td style="color: #999999 ">{{ row.4 }} </td>
	   <td style="color: #999999 ">{{ row.5 }} </td>
	   <td style="color: #999999 ">{{ row.6 }} </td>
	{% else %}
	   <td>{{ row.2 }} </td>
	   <td>{{ row.3 }} </td>
	   <td>{{ row.4 }} </td>
	   <td>{{ row.5 }} </td>
	   <td>{{ row.6 }} </td>
	{% endif %}
    </tr>
    {% endfor %}
    </ul>
    </table>
{% else %}
    <p>No events are available.</p>
{% endif %}
</center>
{% endblock %}
