{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            </button>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'list_all' %}">Display events</a></li>
          <li><a href="{% url 'display_fields' %}">Display fields</a></li>
          <li><a href="{% url 'search_events' %}">Search DB</a></li>
          <li><a href="{% url 'tap' %}">TAP list</a></li>
          <li><a href="{% url 'set_event_status' %}">Set event status</a></li>
      <li><a href="{% url 'request_obs' %}">Request Obs</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
</nav>
{% if rows %}
<center>
    <script type="text/javascript" src="{% static 'events/sorttable.js' %}"></script>
    <h2>Events in database</h2>
    <p><center>
        <p>Current JD: {{ JD_now }} </p>
    </center>
    <table class="sortable" border="0">
    <tr>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">ID:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Known Names:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Field:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">RA:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">DEC:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">T<sub>max</sub>:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">t<sub>E</sub> [days]:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">u<sub>0</sub>:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">I<sub>last</sub> [mag]:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Exptime<sub>S/N=25</sub> [s]:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Exptime<sub>S/N=100</sub> [s]:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">TAP</b></td>
    </tr>
    <ul>
    {% for row in rows %}
    <tr bgcolor="{% cycle '#E6E6B8' '#FFFFCC' %}">
        <td> {{ row.0 }} </td>
           <td>{% for name in row.1 %}
	      <a href={% url 'show_event' event_name=name %} STYLE="text-decoration:none">{{ name }}</a><br>
	      {% endfor %}
	   </td>
	{% if row.2 == "Outside ROMEREA" %}
	   <td style="color: #999999 ">{{ row.2 }} </td>
	   <td style="color: #999999 ">{{ row.3 }} </td>
	   <td style="color: #999999 ">{{ row.4 }} </td>
	   <td style="color: #999999 ">{{ row.5 }} </td>
	   <td style="color: #999999 ">{{ row.6 }} </td>
        {% if row.7 != 'NONE' %}
          <td style="color: #999999 ">{{ row.7 }} </td>
          <td style="color: #999999 ">{{ row.8 }} </td>
          <td style="color: #999999 ">{{ row.9 }} </td>
          <td style="color: #999999 ">{{ row.10 }} </td>
          <td style="color: #999999 ">{{ row.11 }} </td>
        {% else %}
          <td style="color: #999999 ">-</td>
          <td style="color: #999999 ">-</td>
          <td style="color: #999999 ">-</td>
          <td style="color: #999999 ">-</td>
          <td style="color: #999999 ">-</td>
        {% endif %}
	{% else %}
	   <td>{{ row.2 }} </td>
	   <td>{{ row.3 }} </td>
	   <td>{{ row.4 }} </td>
	   <td>{{ row.5 }} </td>
	   <td>{{ row.6 }} </td>
        {% if row.7 != 'NONE'%}
          <td>{{ row.7 }} </td>
          <td>{{ row.8 }} </td>
          <td>{{ row.9 }} </td>
          <td>{{ row.10 }} </td>
          <td>{{ row.11 }} </td>
        {% else %}
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
          <td>-</td>
        {% endif %}
	{% endif %}
    </tr>
    {% endfor %}
    </ul>
    </table>
{% else %}
    <p>No events are available.</p>
{% endif %}
</center>
{% endblock %}
