{% if rows %}
{% load staticfiles %}
    <script type="text/javascript" src="{% static 'events/sorttable.js' %}"></script>
    <h2>Events in database:</h2>
    <table class="sortable" border="0">
    <tr>
       <td bgcolor="#990000"><b style="color: #FFFFCC ">ID:</b></td>
       <td bgcolor="#990000"><b style="color: #FFFFCC ">Known Names:</b></td>
       <td bgcolor="#990000"><b style="color: #FFFFCC ">Field:</b></td>
       <td bgcolor="#990000"><b style="color: #FFFFCC ">RA:</b></td>
       <td bgcolor="#990000"><b style="color: #FFFFCC ">DEC:</b></td>
       <td bgcolor="#990000"><b style="color: #FFFFCC ">Status:</b></td>
       <td bgcolor="#990000"><b style="color: #FFFFCC ">Year of Discovery:</b></td>
    </tr>
    <ul>
    {% for row in rows %}
    <tr bgcolor="#ffcc99">
        <td> {{ row.0 }} </td>
           <td>{% for name in row.1 %}
	      <li><a href="/events/{{ row.0 }}/">{{ name }}</a><br>
	      {% endfor %}
	   </td>
	<td>{{ row.2 }} </td>
	<td>{{ row.3 }} </td>
	<td>{{ row.4 }} </td>
	<td>{{ row.5 }} </td>
	<td>{{ row.6 }} </td>
    </tr>
    {% endfor %}
    </ul>
    </table>
{% else %}
    <p>No events are available.</p>
{% endif %}
