{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if rows %}
<center>
    <script type="text/javascript" src="{% static 'events/sorttable.js' %}"></script>
    <h2>Events in database</h2>
    <p><center>
    <table>
    <tr><td><a href="{% url 'list_all' display_year='ALL'%}">Click here to display all events</a></td></tr>
        <tr><td>To display events from another year, use /db/list_all/[year]/</td></tr>
    </table>
        </p>
        <p>Current JD: {{ JD_now }} </p>
    </center>
    <table class="sortable" border="0">
    <tr>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">ID:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Known Names:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Field:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">RA:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">DEC:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Status:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Discovered:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">T<sub>max</sub>:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">t<sub>E</sub> [days]:</b></td>
       <td bgcolor="#609ab6"><b style="color: #FFFFFF ">u<sub>0</sub>:</b></td>
    </tr>
    <ul>
    {% for row in rows %}
    <tr bgcolor="{% cycle '#E6E6B8' '#FFFFCC' %}">
        <td> {{ row.0 }} </td>
           <td>{% for name in row.1 %}
	      <a href={% url 'show_event' event_name=name %} STYLE="text-decoration:none">{{ name }}</a><br>
	      {% endfor %}
	   </td>
	{% if row.2 == "Outside ROMEREA" %}
	   <td style="color: #999999 ">{{ row.2 }} </td>
	   <td style="color: #999999 ">{{ row.3 }} </td>
	   <td style="color: #999999 ">{{ row.4 }} </td>
	   <td style="color: #999999 ">{{ row.5 }} </td>
	   <td style="color: #999999 ">{{ row.6 }} </td>
        {% if row.7 != 'NONE' %}
          <td style="color: #999999 ">{{ row.7 }} </td>
          <td style="color: #999999 ">{{ row.8 }} </td>
          <td style="color: #999999 ">{{ row.9 }} </td>
        {% else %}
          <td style="color: #999999 ">-</td>
          <td style="color: #999999 ">-</td>
          <td style="color: #999999 ">-</td>
        {% endif %}
	{% else %}
	   <td>{{ row.2 }} </td>
	   <td>{{ row.3 }} </td>
	   <td>{{ row.4 }} </td>
	   <td>{{ row.5 }} </td>
	   <td>{{ row.6 }} </td>
        {% if row.7 != 'NONE'%}
          <td>{{ row.7 }} </td>
          <td>{{ row.8 }} </td>
          <td>{{ row.9 }} </td>
        {% else %}
          <td>-</td>
          <td>-</td>
          <td>-</td>
        {% endif %}
	{% endif %}
    </tr>
    {% endfor %}
    </ul>
    </table>
{% else %}
    <p>No events are available.</p>
{% endif %}
</center>
{% endblock %}
