{% extends "base.html" %}
{% load staticfiles %}
	{% block head_extras %}
            <meta charset="utf-8" />
	    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
	    <title>Observing System Monitor</title>
            <script src={% static 'events/bokeh-0.12.4.min.js' %}></script>	
            <link rel="stylesheet" href={% static 'events/bokeh-0.12.4.min.css' %}>
	{% endblock %}    

{% block content %}
   <center>
      {{ req_vs_obs_plot_div|safe }}
      {{ req_vs_obs_plot_script|safe }}
   </center>
{% endblock %}
