{% extends "base.html" %}
{% load staticfiles %}
	{% block head_extras %}
            <meta charset="utf-8" />
	    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
	    <title>Observing System Monitor</title>
            <script src={% static 'events/bokeh-0.12.4.min.js' %}></script>	
            <link rel="stylesheet" href={% static 'events/bokeh-0.12.4.min.css' %}>
	{% endblock %}    

{% block content %}
   <table><tr>
       <td>
       <h4>Observations Requested vs Observed between <br>{{req_vs_obs_start_date}} to {{req_vs_obs_end_date}}</h4>
      {{ req_vs_obs_plot_div|safe }}
      {{ req_vs_obs_plot_script|safe }}
       </td>
       <td>
        <h4>Observation completion percentages between <br>{{completion_start_date}} to {{completion_end_date}}</h4>
      {{ completion_plot_div|safe }}
      {{ completion_plot_script|safe }}
        </td>
       </tr>
   </table>
{% endblock %}
