{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% if rows %}
  <script type="text/javascript" src="{% static 'events/sorttable.js' %}"></script>
  <h2>Observation Log: {{ date }}</h2>
  <table class="sortable" border="0">
  <tr>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Image:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Time:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Field:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">RA:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Dec:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Filter:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Telescope:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Instrument:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">GroupID:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">TrackID:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">ReqID:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Airmass:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Avg FWHM:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Sky BG:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">SD BG:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Moon Separ:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Elongation:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">NumStars:</b></td>
     <td bgcolor="#609ab6"><b style="color: #FFFFFF ">Quality:</b></td>
  <ul>
  {% for row in rows %}
  <tr bgcolor="{% cycle '#E6E6B8' '#FFFFCC' %}">
      <td>{{ row.0 }} </td>
      <td>{{ row.1 }} </td>
      <td>{{ row.2 }} </td>
      <td>{{ row.3 }} </td>
      <td>{{ row.4 }} </td>
      <td>{{ row.5 }} </td>
      <td>{{ row.6 }} </td>
      <td>{{ row.7 }} </td>
      <td>{{ row.8 }} </td>
      <td>{{ row.9 }} </td>
      <td>{{ row.10 }} </td>
      <td>{{ row.11 }} </td>
      <td>{{ row.12 }} </td>
      <td>{{ row.13 }} </td>
      <td>{{ row.14 }} </td>
      <td>{{ row.15 }} </td>
      <td>{{ row.16 }} </td>
      <td>{{ row.17 }} </td>
      <td>{{ row.18 }} </td>
  </tr>
  {% endfor %}
  </ul>
  </table>
{% else %}
    <p>No images found.</p>
{% endif %}
{% endblock %}

