{% extends "base_page.html" %}

{% block page_title %}{{page.name}}{% endblock %}

{% block content %}
<h3>Verify an EventName is known to the Database</h3>
{% if status == 'ERROR' %}
    <div>
        <center><h5>{{ message }}</h5></center>
    </div>
{% endif %}
<div>
      <form method="POST" class="post-form">{% csrf_token %}
        <center>
            <table><tr>
                <td>
                <div class="fieldWrapper">
                    {{ form.name.errors }}
                    <label for="{{ form.name.id_for_label }}">Please enter target name:</label>
                    {{ form.name }}
                </div>
                </td>
                <td>
                <div class="fieldWrapper">
                    <button type="submit" class="save btn btn-default">Submit</button>
                </div>
                </td>
                <td></td>
                </tr></table>
        </center>
    </form>
</div>  

{% if status == 'DBREPLY' %}
<div>
    <center>
        {{message}}
    </center>
</div>
{% endif %}
{% endblock %}