{% extends "base.html" %}

{% block page_title %}{{page.name}}{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        </button>
    </div>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'list_anomalies' %}">Anomalies</a></li>
      <li><a href="{% url 'tap' %}">TAP List</a></li>
      <li><a href="{% url 'set_event_status' %}">Set event status</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div style="margin-top: 20px;">
<center>
  <b>
    <h3>Set TAP Status</h3>
  </b>
<font style="color: red">Sampling rate will be adjusted automatically to match REA strategy</font>
</center>
</div>
<div style="margin-top: 20px;">
      <form method="POST" class="post-form">{% csrf_token %}
        {{ formset.management_form }}
        {{ formset.errors }}
        <center>
            <table><tr><td><label for="{{tform.event.id_for_label}}">
                <select name="event">
                {% for e, target_id in tap_targets %}
                    <option value="{{e.pk}}">{{target_id}}</option>
                {% endfor %}
                </select></label></td>
                <td><label for="{{tform.priority.id_for_label}}">
                <select name="priority">
                {% for code,priority in priorities %}
                    <option value="{{code}}">{{priority}}</option>
                {% endfor %}
                </select></label>
                </td>
                </tr>
                <tr><td></td><td>
                <div class="fieldWrapper">
                    <button type="submit" class="save btn btn-default">Submit</button>
                </div>
            </td></tr></table>
        </center>
    </form>
</div>
<div>
{% if message != 'OK' %}
    <div>
        <center><h5>{{ message }}</h5></center>
    </div>
{% endif %}
</div>
{% endblock %}