<html>
	<head>
            <meta charset="utf-8" />
	    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
	    <title>RoboNet Event</title>
            <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>	
            <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css">
	</head>    
<body bgcolor="#FFFFFF">
  <center><br>
  <b><a href="{{ site_url }}events/{{ event_id|add:-1 }}" STYLE="text-decoration:none">&#11013; &nbsp;<a/></b>
  <b>Current Time:</b> {{ time_now }}
  [HJD: {{ time_now_jd }}]
  <b><a href="{{ site_url }}events/{{ event_id|add:1 }}" STYLE="text-decoration:none">&nbsp; &#10145;<a/></b>
  <table border="2" style="width:1100px">
    <tr> 
	<td width="200px" height="100px"><center><b><font size="5">ID</b></font><br> {{ event_id }}</center>
	</td>
	<td width="200px" height="100px"><center><a href="{{ site_url }}events/download_lc/{{ event_id }}">Download
	lightcurves</a></center>
	</td>
	<td width="200px" height="100px" bgcolor="#E6E6B8"><center><b><font size="5">Status</font></b><br> {{ status }}
	</td>
	<td width="200px" height="100px" bgcolor="#FFD685"><a href="{{ discussion }}"><center><font size="5">Discuss</font></center></a>
	</td>
    </tr>
    <tr>
	<td colspan=4 height="50px"><b> Event name:</b>
	{% for name in event_name %}
	   {% if ogle_url != '' and 'OGLE' in name.name %}
	      <a href="{{ ogle_url }}">{{ name.name }}</a>
	   {% else %}
	      {{ name.name }}
	   {% endif %}
	{% endfor %}
    </tr>
    <tr>
	<td height="50px"><b>RA:</b> {{ ev_ra }}</td>
	<td height="50px"><b>Dec:</b> {{ ev_dec }}</td>
	<td height="50px" bgcolor="#E6E6B8" colspan=2><b>Last observation:</b> {{ last_obs }}<br>
	[HJD: {{ last_obs_hjd }}] from {{ last_obs_tel }}</td>
    </tr>
    <tr>
	<td bgcolor="#E6E6B8" height="100px">
	   <center><font size="4"><b>Event<br> parameters:</center></b></font><br>
	   Last update:<br> {{ last_updated }}<br>
	   [HJD: {{ last_updated_hjd }}]
	</td>
	<td colspan=3 rowspan=4>
	   <center>
              {{ the_div|safe }}
	      {{ the_script|safe }}
	   </center>
        </td>
    </tr>
    <tr>
	<td bgcolor="#FFFFCC" height="50px"><b>t<sub>0</sub>:</b> {{ Tmax }}&plusmn;{{ e_Tmax }}</td>
    </tr>
    <tr>
	<td bgcolor="#FFFFCC" height="50px"><b>t<sub>E</sub>:</b> {{ tau }}&plusmn;{{ e_tau }}</td>
    </tr>
    <tr>
	<td bgcolor="#FFFFCC" height="50px"><b>u<sub>0</sub>:</b> {{ umin }}&plusmn;{{ e_umin }}</td>
    </tr>
 </table>
 </center>
</body>
</html>
