{% extends "base.html" %}
{% block head_extras %}
<title>TAP</title>
<style>
a:link {
    color: #1C1C1C;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: #1C1C1C;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: #0101DF;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: #1C1C1C;
    background-color: transparent;
    text-decoration: underline;
}
</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        </button>
    </div>
</div>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li><a href="{% url 'list_anomalies' %}">Anomalies</a></li>
      <li><a href="{% url 'set_event_status' %}">Set event status</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<center><br>
<b>Current Time:</b> {{ time_now }} UT [HJD: {{ time_now_jd }}]

<h2> Target Priority: LCO 1m network</h2>
{% if rows %}
{% load staticfiles %}
    <script type="text/javascript" src="{% static 'events/sorttable.js' %}"></script>
    <!-- <table style="border: 1px solid #000000; border-collapse: collapse;" border="1" cellpadding="4">
       <tbody><tr bgcolor="#E6E6B8"><td>Target list upload (1m) in less than <b>{{ time1 }}</b> min </td>
    </table> -->
    <b> <!-- Bulge visibility: {{ time2 }} h on {{ nsite }} sites. <br>
        Listed events occupy {{ occupy|safe }} of available time.--> </b><br>
 <table class="sortable" border="0">
 <tr>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Event</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">RA</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">DEC</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Texp [s]</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Priority</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Tsamp [h]</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Imag</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">&Omega;<sub>S</sub></b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">&Omega;<sub>S</sub>@peak</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Visibility [h]</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Field</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Manual override set?</b></th>
 </tr>
 {% for row in rows %}
 <tr bgcolor="{{ row.0 }}">
   <td>{% for name in row.2 %}
            <a href={% url 'show_event' event_name=name %} STYLE="text-decoration:none">{{ name }}</a><br>
       <!-- <li><a href={% url 'show_event_by_id' event_id=row.1 %}>{{ name }}</a><br> -->
       {% endfor %}
   </td>
   <td>{{ row.3 }}</td>
   <td>{{ row.4 }}</td>
   <td>{{ row.5 }}</td>
   <td>{{ row.6 }}</td>
   <td>{{ row.7 }}</td>
   <td>{{ row.8 }}</td>
   <td>{{ row.9 }}</td>
   <td>{{ row.10 }}</td>
   <td>{{ row.11 }}</td>
   <td>{{ row.12 }}</td>
     {% if row.13 == True %}
     <td><b style="color: #ff0000">True</b></td>
     {% else %}
     <td>False</td>
     {% endif %}
 </tr>
 {% endfor %}
 </table>
 <b> Rejected events (> available observing time) LCOGT 1m network</b>
 <br>
 <table class="sortable" border="0">
 <tr>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Event</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">RA</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">DEC</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Texp [s]</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Priority</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Tsamp [h]</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Imag</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">&Omega;<sub>S</sub></b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">&Omega;<sub>S</sub>@peak</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Visibility [h]</b></th>
  <th bgcolor="#609ab6"><b style="color: #FFFFFF ">Field</b></th>
 </tr>
 {% for row in rowsrej %}
 <tr bgcolor="{{ row.0 }}">
   <td>{% for name in row.2 %}
            <a href={% url 'show_event' event_name=name %} STYLE="text-decoration:none">{{ name }}</a><br>
       <!-- <li><a href={% url 'show_event_by_id' event_id=row.1 %}>{{ name }}</a><br> -->
       {% endfor %}
   </td>
   <td>{{ row.3 }}</td>
   <td>{{ row.4 }}</td>
   <td>{{ row.5 }}</td>
   <td>{{ row.6 }}</td>
   <td>{{ row.7 }}</td>
   <td>{{ row.8 }}</td>
   <td>{{ row.9 }}</td>
   <td>{{ row.10 }}</td>
   <td>{{ row.11 }}</td>
   <td>{{ row.12 }}</td>
 </tr>
 {% endfor %}
 </table>
{% else %}
    <p>No events are available.</p>
{% endif %}
</center>
{% endblock %}
