{% extends "base_page.html" %}

{% block page_title %}{{page.name}}{% endblock %}

{% block content %}
<div style="margin-top: 20px;">
<center>
<table style="border: 0px" width="90%">
    <tr>
        <td align="left" width="50%"><h3>Trigger REA-HI mode observations</h3>
            <font style="color: red">This form will submit observations of the requested field to the REA instruments for the next 24-hrs</font></td>
        <td align="center" bgcolor="#609ab6" width="20%"><a href="{% url 'tap' %}"><b style="color: #FFFFFF ">Return to TAP list</b></a></td>
    </tr>
</table>
</center>
</div>
<div style="margin-top: 20px;">
      <form method="POST" class="post-form">{% csrf_token %}
        {{ formset.management_form }}

        <center>
            <table><tr><td>{{ nform.name.errors }}<label for="nform.name.id_for_label">
                <select name="name">
                {% for f in fields %}
                    <option value="{{f}}">{{f}}</option>
                {% endfor %}
                </select></label></td>
                
                <td>{{ eform.exptime.errors }}
                <label for="{{ eform.exptime.id_for_label }}">Exposure time (secs):</label>
                {{ eform.exptime }}
                </td>
                
                <td>{{ eform.t_sample.errors }}
                <label for="{{ eform.t_sample.id_for_label }}">Cadence (mins):</label>
                {{ eform.t_sample }}
                </td>
                </tr>
                <tr><td></td><td></td><td>
                <div class="fieldWrapper">
                    <button type="submit" class="save btn btn-default">Submit</button>
                </div>
            </td></tr></table>
        </center>
    </form>
</div>
<div>
{% if message != 'OK' %}
    <div>
        <center><h5>{{ message }}</h5></center>
    </div>
{% endif %}
</div>
{% endblock %}