{% extends "index.html" %}
{% block main_content %}
<!-- === main content ====================================================== -->

<div id="content">
<!-- <h2>2011:</h2>
Y. Tsapras$^{R0,R1}$,<br>
R. A. Street$^{R0}$,<br>
D. M. Bramich$^{R2}$,<br>
M. Dominik$^{R3}$,<br>
K. Horne$^{R3}$,<br>
M. Hundertmark$^{R3}$,<br>
N. Kains$^{R2}$,<br>
C. Snodgrass$^{R5}$,<br>
I. A. Steele$^{R4}$<br>

<h2>2012:</h2>
Y. Tsapras$^{R0,R1}$,<br>
R. A. Street$^{R0}$,<br>
D. M. Bramich$^{R2}$,<br>
P. Browne$^{R3}$,<br>
M. Dominik$^{R3}$,<br>
K. Horne$^{R3}$,<br>
M. Hundertmark$^{R3}$,<br>
S. Ipatov$^{R7}$,<br>
N. Kains$^{R2}$,<br>
C. Snodgrass$^{R5}$,<br>
I. A. Steele$^{R4}$<br>

<h2>2013:</h2>
Y. Tsapras$^{R0,R1}$,<br>
R. A. Street$^{R0}$,<br>
D. M. Bramich$^{R2,R6}$,<br>
P. Browne$^{R3}$,<br>
M. Dominik$^{R3, \dagger}$,<br>
K. Horne$^{R3}$,<br>
M. Hundertmark$^{R3}$,<br>
S. Ipatov$^{R7,R18,R19}$,<br>
C. Snodgrass$^{R5}$,<br>
I. A. Steele$^{R4}$,<br>
R. Figuera Jaimes$^{R2,R3}$,<p>
N. Kains$^{R2}$<br>
G. D'Ago$^{R10,R11}$<br>
-->

<h2>2014:</h2>
Y. Tsapras$^{R0,R1}$,<br>
R. A. Street$^{R0}$,<br>
D. M. Bramich$^{R2,R6}$,<br>
M. Dominik$^{R3,\dagger}$,<br>
K. Horne$^{R3}$,<br>
M. Hundertmark$^{R3,R12}$,<br>
C. Snodgrass$^{R5,R13}$,<br>
I. A. Steele$^{R4}$,<br>
J. Menzies$^{R8}$,<br>
R. Figuera Jaimes$^{R3,R2}$,<br>
E. Bachelet$^{R6}$,<br>
J. Wambsganss$^{R9}$,<br>
R. Schmidt$^{R9}$,<br>
G. D'Ago$^{R10,R11}$,<br>
N. Kains$^{R17,R2}$<br>
<br>

<h2>2015:</h2>
R. A. Street$^{R0}$,<br>
Y. Tsapras$^{R9}$,<br>
M. Hundertmark$^{R12}$,<br>
E. Bachelet$^{R0,R6}$,<br>
M. Dominik$^{R3,\dagger}$,<br>
D. M. Bramich$^{R6}$,<br>
A. Cassan$^{R14}$,<br>
R. Figuera Jaimes$^{R3,R2}$,<br>
K. Horne$^{R3}$,<br>
C. Ranc$^{R14}$,<br>
R. Schmidt$^{R9}$,<br>
C. Snodgrass$^{R13}$,<br>
J. Wambsganss$^{R9}$,<br>
I. A. Steele$^{R4}$,<br>
J. Menzies$^{R8}$,<br>
S. Mao$^{R15}$<br>

<h2>2016:</h2>
R. A. Street$^{R0}$,<br>
Y. Tsapras$^{R9}$,<br>
M. Hundertmark$^{R12}$,<br>
E. Bachelet$^{R0,R6}$,<br>
M. Dominik$^{R3,\dagger}$,<br>
D. M. Bramich$^{R6}$,<br>
A. Cassan$^{R14}$,<br>
R. Figuera Jaimes$^{R3,R2}$,<br>
K. Horne$^{R3}$,<br>
C. Ranc$^{R14}$,<br>
R. Schmidt$^{R9}$,<br>
C. Snodgrass$^{R13}$,<br>
J. Wambsganss$^{R9}$,<br>
I. A. Steele$^{R4}$,<br>
S. Mao$^{R15}$,<br>
K. Ment$^{R9}$,<br>
Z. Li$^{R0}$,<br>
S. Cross$^{R0}$,<br>
D. Maoz$^{R20}$,<br>
Y. Shvartzvald$^{R21,R20}$<br>

<br><p><h2>Affiliations:</h2>
\affil{$^{R0}$Las Cumbres Observatory Global Telescope Network, 6740 Cortona Drive, suite 102, Goleta, CA 93117, USA}<br>
\affil{$^{R1}$School of Physics and Astronomy, Queen Mary University of London, Mile End Road, London E1 4NS, UK}<br>
\affil{$^{R2}$European Southern Observatory, Karl-Schwarzschild-Str. 2, 85748 Garching bei M\"unchen, Germany}<br>
\affil{$^{R3}$SUPA, School of Physics \& Astronomy, University of St Andrews, North Haugh, St Andrews KY16 9SS, UK}<br>
\affil{$^{R4}$Astrophysics Research Institute, Liverpool John Moores University, Liverpool CH41 1LD, UK}<br>
\affil{$^{R5}$Max Planck Institute for Solar System Research, Max-Planck-Str. 2, 37191 Katlenburg-Lindau, Germany}<br>
\affil{$^{R6}$Qatar Environment and Energy Research Institute(QEERI), HBKU, Qatar Foundation, Doha, Qatar}<br>
\affil{$^{R7}$Qatar Foundation, P.O. Box 5825, Doha, Qatar}<br>
\affil{$^{R8}$South African Astronomical Observatory, PO Box 9, Observatory 7935, South Africa}<br>
\affil{$^{R9}$Zentrum f{\"u}r Astronomie der Universit{\"a}t Heidelberg, Astronomisches Rechen-Institut, M{\"o}nchhofstr. 12-14, 69120 Heidelberg, Germany} <br>
\affil{$^{R10}$Dipartimento di Fisica "E.R. Caianiello", Universit{\`a} di Salerno, Via Ponte Don Melillo, 84084-Fisciano (SA), Italy}<br>
\affil{$^{R11}$Istituto Internazionale per gli Alti Studi Scientifici (IIASS), Via G. Pellegrino 19, 84019 Vietri sul Mare (SA), Italy }<br>
\affil{$^{R12}$Niels Bohr Institute \& Centre for Star and Planet Formation, University of Copenhagen, {\O}ster Voldgade 5,
1350 - Copenhagen K, Denmark}<br>
\affil{$^{R13}$Planetary and Space Sciences, Department of Physical Sciences, The Open University, Milton Keynes, MK7 6AA, UK}<br>
\affil{$^{R14}$Sorbonne Universit\'es, UPMC Univ Paris 6 et CNRS, UMR 7095, Institut d'Astrophysique de Paris, 98 bis bd Arago, 75014 Paris, France}<br>
\affil{$^{R15}$National Astronomical Observatories, Chinese Academy of Sciences, 100012 Beijing, China}<br>
<!-- \affil{$^{R16}$Kavli Institute for Astronomy and Astrophysics, Peking University, Yi He Yuan Road 5, Hai Dian District, Beijing 100871,
China}<br> -->
\affil{$^{R17}$Space Telescope Institute, 3700 San Martin Drive, Baltimore, MD 21218, USA}<br>
\affil{$^{R18}$Vernadsky Institute of Geochemistry and Analytical Chemistry of Russian Academy of Sciences, Kosygina 19, 119991, Moscow,
Russia}<br>
\affil{$^{R19}$Space Research Institute of Russian Academy of Sciences, Profsoyuznaya st. 84/32, Moscow, Russia}<br>
\affil{$^{R20}$School of Physics and Astronomy, Tel Aviv University, Tel Aviv 69978, Israel}<br>
\affil{$^{R21}$Jet Propulsion Laboratory, M/S 169-506, 4800 Oak Grove Drive, Pasadena, CA 91109}<br>
$\dagger$ Royal Society University Research Fellow<p>
</p>


<!-- ======================================================================= -->
{% endblock %}

{% block menu_list %}
<li><a href={% url 'home_html' %}>Home</a></li>
<li><a href={% url 'research_html' %}>Research</a></li>
<li><a class="current" href={% url 'publications_html' %}>Publications</a></li>
<li><a href={% url 'group_html' %}>Group</a></li>
<li><a href={% url 'options_html' %}>Links</a></li>
{% endblock %}
