{% extends "index.html" %}
{% block main_content %}
<!-- === main content ====================================================== -->

<div id="content">
<a name="top"></a>
<h2>Team Members</h2>
<!-- <b>For a detailed listing of all past and present RoboNet members please visit the <a
href="http://robonet.lcogt.net/authors/">RoboNet
authors</a> page.</b> -->
<SCRIPT LANGUAGE = "JavaScript">

      if (document.images) {
            img9on = new Image();
            img9on.src = "/static/img/gateshunder.jpg";
            img9off = new Image();
            img9off.src = "/static/img/markus.jpg";
            img1on = new Image();
            img1on.src = "/static/img/bronco.jpg";
            img1off = new Image();
            img1off.src = "/static/img/yiannis.png"; 
            img2on = new Image();
            img2on.src = "/static/img/keith-jimhenson2.jpeg";
            img2off = new Image();
            img2off.src = "/static/img/keith.jpg"; 
            img3on = new Image();
            img3on.src = "/static/img/martin-sheldon.jpg";
            img3off = new Image();
            img3off.src = "/static/img/Martin-Dominic.jpg"; 
            img4on = new Image();
            img4on.src = "/static/img/rachel_lego.jpg";
            img4off = new Image();
            img4off.src = "/static/img/rachel.jpg";
            img5on = new Image();
            img5on.src = "/static/img/colin-LOST.jpg";
            img5off = new Image();
            img5off.src = "/static/img/colinsnodgrass.jpg";
            img6on = new Image();
            img6on.src = "/static/img/dan_pipeline.jpg";
            img6off = new Image();
            img6off.src = "/static/img/dan.jpg";
            img7on = new Image();
            img7on.src = "/static/img/noe-SIDESHOW-BOB.jpeg";
            img7off = new Image();
            img7off.src = "/static/img/noe-kains.jpeg";
            img8on = new Image();
            img8on.src = "/static/img/gateshunder.jpg";
            img8off = new Image();
            img8off.src = "/static/img/markus.jpg";
            img10on = new Image();
            img10on.src = "/static/img/bozza_alt.jpg";
            img10off = new Image();
            img10off.src = "/static/img/ValerioBozza.jpg";
            img11on = new Image();
            img11on.src = "/static/img/joachim.jpg";
            img11off = new Image();
            img11off.src = "/static/img/joachim.jpg";
            img12on = new Image();
            img12on.src = "/static/img/pylima.jpg";
            img12off = new Image();
            img12off.src = "/static/img/etienne.jpg";
            img13on = new Image();
            img13on.src = "/static/img/smao.jpg";
            img13off = new Image();
            img13off.src = "/static/img/smao.jpg";
            img14on = new Image();
            img14on.src = "/static/img/glass102.jpg";
            img14off = new Image();
            img14off.src = "/static/img/arnaud2.jpg";
	    img15on = new Image();
            img15on.src = "/static/img/abhijit.jpg";
            img15off = new Image();
            img15off.src = "/static/img/abhijit.jpg";}
function imgOn(imgName) {
if (document.images) {
document[imgName].src = eval(imgName + "on.src");}
}
function imgOff(imgName) {
if (document.images) {
document[imgName].src = eval(imgName + "off.src");}
}
//
</SCRIPT>

<!-- Start of Main Content -->

<table cellpadding="2" cellspacing="0"><tr><td valign="top">

<!-- Menu bar -->
<center>
<!-- New subtable -->
<!-- Picture -->
<table width = "100%" border="0" cellspacing="0" cellpadding="10">
 <tbody><tr>
 <td>
 <center>
  <a onMouseOver="imgOn('img1')" onMouseOut="imgOff('img1')">
  <IMG style="border:1px solid black;" SRC="/static/img/yiannis.png" align=CENTER NAME="img1" border=0></a>
 </center>
 </td>
<td>
<!-- Text -->
<font color="black" ><b><a href="http://wwwstaff.ari.uni-heidelberg.de/tsapras/" style="color: #990000">Dr Yiannis Tsapras [PI]</a></font></b><br>
<a href="http://www.zah.uni-heidelberg.de/zah/" style="color: #000000">Zentrum f&uuml;r Astronomie</a>
<br>
<a href="http://www.zah.uni-heidelberg.de/ari/" style="color: #000000">Astronomisches Recheninstitut, M&ouml;nchhofstr. 12-14<br>
Heidelberg, D-69120, Germany</a>
<br>
Phone:+49-6221-541819 <br>e-mail: <tt>ytsapras[at]ari.uni-heidelberg.de</tt>
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

<!-- New subtable-->
<!-- Picture  -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
 <tbody><tr>
  <td>
  <center>
  <a onMouseOver="imgOn('img4')" onMouseOut="imgOff('img4')">
  <img style="border:1px solid black;" SRC="/static/img/rachel.jpg" align=CENTER NAME="img4" border=0></a>
  </center>
  </td>
<td>
<!-- Text  -->
<font color="black" ><b><a href="http://lcogt.net/" style="color: #990000">Dr Rachel Street</a>
</font></b><br>
<a href="http://www.lcogt.net" style="color: #000000">Las Cumbres Observatory Global Telescope Network.</a><br>
<a href="http://www.lcogt.net/" style="color: #000000">Las Cumbres Observatory, 6740 Cortona Dr. Suite 102, Santa Barbara, CA 93117, USA</a>
<br>
Phone: +1-805-880 1631<br>e-mail: <tt>rstreet[at]lco.global</tt>
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

<!-- New subtable-->
<!-- Picture  -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
 <tbody><tr>
  <td>
  <center>
  <a onMouseOver="imgOn('img9')" onMouseOut="imgOff('img9')">
  <img style="border:1px solid black;" SRC="/static/img/markus.jpg" align=CENTER NAME="img9" border=0></a>
  </center>
  </td>
<td>
<!-- Text  -->
<font color="black" ><b>
 <a href="http://star-www.st-and.ac.uk/~mpgh" style="color: #990000">Dr Markus Hundertmark</a>
</font></b><br>
<a href="http://www.zah.uni-heidelberg.de/zah/" style="color: #000000">Zentrum f&uuml;r Astronomie</a>
<br>
<a href="http://www.zah.uni-heidelberg.de/ari/" style="color: #000000">Astronomisches Recheninstitut, M&ouml;nchhofstr. 12-14<br>Heidelberg, D-69120, Germany</a>
<br>
Phone:+49-6221-541867 <br>e-mail: <tt>markus.hundertmark[at]ari.uni-heidelberg.de</tt>
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

<!-- New subtable-->
<!-- Picture  -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
 <tbody><tr>
  <td>
  <center>
  <a onMouseOver="imgOn('img12')" onMouseOut="imgOff('img12')">
  <img style="border:1px solid black;" SRC="/static/img/etienne.jpg" align=CENTER NAME="img12" border=0></a>
  </center>
  </td>
<td>
<!-- Text  -->
<font color="black" ><b><a href="http://lcogt.net/" style="color: #990000">Dr Etienne Bachelet</a>
</font></b><br>
<a href="http://www.lcogt.net" style="color: #000000">Las Cumbres Observatory Global Telescope Network.</a><br>
<a href="http://www.lcogt.net/" style="color: #000000">Las Cumbres Observatory, 6740 Cortona Dr. Suite 102, Santa Barbara, CA 93117, USA</a>
<br>
Phone: +1-805-880 1631<br>e-mail: <tt>ebachelet[at]lco.global </tt>
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

<!-- New subtable-->
<!-- Picture  -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tr>
<td>
  <center>
   <a onMouseOver="imgOn('img6')" onMouseOut="imgOff('img6')">
   <img style="border:1px solid black;" SRC="/static/img/dan.jpg" align=CENTER NAME="img6" border=0></a>
  </center>
</td>
<td>
<!-- Text  -->
<font color="black" ><b>
<a href="http://www.danidl.co.uk/" style="color: #990000">Dr Daniel Bramich</a>
</font></b><br>
<a href="https://nyuad.nyu.edu/en/" style="color: #000000">
New York University Abu Dhabi,<br>
Saadiyat Island, Abu Dhabi,<br>
PO Box 129188, United Arab Emirates</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp<br>
Phone: N/A <br>e-mail: <tt>dan.bramich[at]hotmail.co.uk</tt>
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

<!-- New subtable-->
<!-- Picture  -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
 <tbody><tr>
  <td>
  <center>
  <a onMouseOver="imgOn('img3')" onMouseOut="imgOff('img3')">
  <img style="border:1px solid black;" SRC="/static/img/Martin-Dominic.jpg" align=CENTER NAME="img3" border=0></a>
  </center>
  </td>
<td>
<!-- Text  -->
<font color="black" ><b>
 <a href="http://star-www.st-and.ac.uk/~md35" style="color: #990000">Dr Martin Dominik</a>
</font></b><br>
 <a href="http://www.supa.ac.uk" style="color: #000000">SUPA</a>, 
 <a href="http://www.st-andrews.ac.uk" style="color: #000000">University of St Andrews</a><br>
 <a href="http://star-www.st-and.ac.uk/astronomy/" style="color: #000000">School of Physics &amp; Astronomy,<br> 
 North Haugh, St Andrews, KY16 9SS, UK</a><br>
Phone: +44-1334-463068<br>e-mail: <tt>md35[at]st-andrews.ac.uk</tt>
</td>
</tr>
</table>
</center>

<!-- End of sub table -->

<p>
<center>

<!-- New subtable-->
<!-- Picture  -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tbody><tr>
 <td>
  <center>
  <a onMouseOver="imgOn('img10')" onMouseOut="imgOff('img10')">
  <img style="border:1px solid black;" SRC="/static/img/ValerioBozza.jpg" align=CENTER NAME="img10" border=0></a>
  </center>
 </td>
<td>
<!-- Text -->
<font color="black" ><b>
 <a href="http://www.fisica.unisa.it/gravitationAstrophysics/RTModel.htm" style="color: #990000">Dr Valerio Bozza</a>
</font></b><br>
<font color="black" >
<a href="http://www.unisa.it/" style="color: #000000">Dipartimento di Fisica<br>
Universita degli Studi di Salerno,<br> 
 Via Giovanni Paolo II, 132 - 84084 - Fisciano</a><br>
Phone: +39 089 96 8269<br>e-mail: <tt>vbozza[at]unisa.it</tt>
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

<!-- New subtable-->
<!-- Picture  -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tbody><tr>
 <td>
  <center>
  <a onMouseOver="imgOn('img11')" onMouseOut="imgOff('img11')">
  <img style="border:1px solid black;" SRC="/static/img/joachim.jpg" align=CENTER NAME="img11" border=0></a>
  </center>
 </td>
<td>
<!-- Text -->
<font color="black" ><b><a href="http://wwwstaff.ari.uni-heidelberg.de/mitarbeiter/wambsganss/" style="color: #990000">Prof Joachim Wambsganss</a></font></b><br>
<a href="http://www.zah.uni-heidelberg.de/zah/" style="color: #000000">Zentrum f&uuml;r Astronomie</a>
<br>
<a href="http://www.zah.uni-heidelberg.de/ari/" style="color: #000000">Astronomisches Recheninstitut, M&ouml;nchhofstr. 12-14<br>
Heidelberg, D-69120, Germany</a>
<br>
Phone:+49-6221-541800 <br>e-mail: <tt>jkw[at]ari.uni-heidelberg.de</tt>
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

<!-- New subtable-->
<!-- Picture  -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tbody><tr>
 <td>
  <center>
  <a onMouseOver="imgOn('img14')" onMouseOut="imgOff('img14')">
  <img style="border:1px solid black;" SRC="/static/img/arnaud2.jpg" align=CENTER NAME="img14" border=0></a>
  </center>
 </td>
<td>
<!-- Text -->
<font color="black" ><b><a href="http://www2.iap.fr/users/cassan/" style="color: #990000">Dr Arnaud Cassan</a></font></b><br>
<a href="http://www.iap.fr/" style="color: #000000">Institut d'Astrophysique de Paris
<br>
98 bis boulevard Arago,<br>
75014 Paris, France</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
<br>
Phone:+33 (0)144 328 087 <br>e-mail: <tt>cassan[at]iap.fr </tt>
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

<!-- New subtable -->
<!-- Picture -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tbody><tr>
 <td>
  <center>
  <a onMouseOver="imgOn('img2')" onMouseOut="imgOff('img2')">
  <img style="border:1px solid black;" SRC="/static/img/keith.jpg" align=CENTER NAME="img2" border=0></a>
  </center>
 </td>
<td>
<!-- Text -->
<font color="black" ><b>
 <a href="http://star-www.st-and.ac.uk/~kdh1/" style="color: #990000">Prof Keith Horne</a>
</font></b><br>
<font color="black" >
<a href="http://www.supa.ac.uk" style="color: #000000">SUPA</a>, 
<a href="http://www.st-andrews.ac.uk" style="color: #000000">University of St Andrews</a><br>
 <a href="http://star-www.st-and.ac.uk/astronomy/" style="color: #000000">School of Physics &amp; Astronomy,<br> 
 North Haugh, St Andrews, KY16 9SS, UK</a><br>
Phone: +44-1334-463322<br>e-mail: <tt>kdh1[at]st-andrews.ac.uk</tt>
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

<!-- New subtable-->
<!-- Picture  -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tbody><tr>
 <td>
  <center>
  <a onMouseOver="imgOn('img13')" onMouseOut="imgOff('img13')">
  <img style="border:1px solid black;" SRC="/static/img/smao.jpg" align=CENTER NAME="img13" border=0></a>
  </center>
 </td>
<td>
<!-- Text -->
<font color="black" ><b><a href="http://astro.tsinghua.edu.cn/~smao/" style="color: #990000">Prof Shude Mao</a></font></b><br>
<a href="http://astro.tsinghua.edu.cn/" style="color: #000000">Center for Astrophysics</a>
<br>
<a href="http://www.tsinghua.edu.cn/publish/newthuen/index.html" style="color: #000000">Tsinghua University<br>
Beijing 100084, China</a>
<br>
Phone:+86-10 62785861 <br>e-mail: <tt>shude.mao[at]gmail.com</tt> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

<!-- New subtable-->
<!-- Picture  -->
<table width="100%" border="0" cellspacing="0" cellpadding="10">
<tbody><tr>
 <td>
  <center>
  <a onMouseOver="imgOn('img15')" onMouseOut="imgOff('img15')">
  <img style="border:1px solid black;" SRC="/static/img/abhijit.jpg" align=CENTER NAME="img15" border=0></a>
  </center>
 </td>
<td>
<!-- Text -->
<font color="black" ><b><a href="http://ast.noao.edu/about/people/saha" style="color: #990000">Dr Abhijit Saha</a></font></b><br>
<a href="https://www.noao.edu/" style="color: #000000">National Optical Astronomy Observatory
<br>
950 North Cherry Ave.<br>
Tucson, AZ 85719, USA</a>
<br>
Phone:+1 520 318 8288 <br>e-mail: <tt>saha[at]noao.edu </tt> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
</td>
</tr>
</table>
</center>
<!-- End of sub table -->

<p>
<center>

</td>
</table>
</center>
</div> <!-- content -->

{% endblock %}

{% block menu_list %}
<li><a href={% url 'home_html' %}>Home</a></li>
<li><a href={% url 'research_html' %}>Research</a></li>
<li><a href={% url 'publications_html' %}>Publications</a></li>
<li><a class="current" href={% url 'group_html' %}>Group</a></li>
<li><a  href={% url 'options_html' %}>Links</a></li>
<li><a href={% url 'dashboard' %}>View DB</a></li>
{% endblock %}
