{% extends "index.html" %}
{% block main_content %}
<!-- === main content ====================================================== -->
   
<div id="content">

<h2>Relevant publications</h2>
<!-- Custom query: <p>%\10l, %\Y,%\J,%\V,%\p: <a href="%\u">%\t</a></p> -->

<ul>
<p>Henderson, C.B., et al.,  2016, Publications of the Astronomical Society 
of the Pacific, 128, 124401:  <a href="http://adsabs.harvard.edu/abs/2016PASP..128l4401H">Campaign 9 of the K2 Mission: Observational 
Parameters, Scientific Drivers, and Community Involvement for a 
Simultaneous Space- and Ground-based Microlensing Survey</a></p> 

<p>Shvartzvald, Y., et al.,  2016, The Astrophysical Journal, 831, 183:  <a href="http://adsabs.harvard.edu/abs/2016ApJ...831..183S">The 
First Simultaneous Microlensing Observations by Two Space Telescopes: 
Spitzer and Swift Reveal a Brown Dwarf in Event OGLE-2015-BLG-1319</a></p> 

<p>Bhattacharya, A., et al.,  2016, The Astronomical Journal, 152, 140:  
<a href="http://adsabs.harvard.edu/abs/2016AJ....152..140B">Discovery of a Gas Giant Planet in Microlensing Event OGLE-2014-BLG-1760</a></p> 

<p>Bennett, D.P., et al.,  2016, The Astronomical Journal, 152, 125:  <a href="http://adsabs.harvard.edu/abs/2016AJ....152..125B">The 
First Circumbinary Planet Found by Microlensing: OGLE-2007-BLG-349L(AB)c</a></p> 

<p>Han, C., et al.,  2016, The Astrophysical Journal, 828, 53:  
<a href="http://adsabs.harvard.edu/abs/2016ApJ...828...53H">OGLE-2015-BLG-0479LA,B: Binary Gravitational Microlens Characterized by 
Simultaneous Ground-based and Space-based Observations</a></p> 

<p>Zhu, W., et al.,  2016, The Astrophysical Journal, 825, 60:  <a href="http://adsabs.harvard.edu/abs/2016ApJ...825...60Z">Mass 
Measurements of Isolated Objects from Space-based Microlensing</a></p> 

<p>Poleski, R., et al.,  2016, The Astrophysical Journal, 823, 63:  <a href="http://adsabs.harvard.edu/abs/2016ApJ...823...63P">The 
Spitzer Microlensing Program as a Probe for Globular Cluster Planets: 
Analysis of OGLE-2015-BLG-0448</a></p> 

<p>Tsapras, Y., et al.,  2016, Monthly Notices of the Royal Astronomical 
Society, 457, 1320:  <a href="http://adsabs.harvard.edu/abs/2016MNRAS.457.1320T">The OGLE-III planet detection efficiency from six 
years of microlensing observations (2003-2008)</a></p> 


<p>Bramich, D.M., Horne, K., Alsubai, K.~A., Bachelet, E., Mislis, D., 
& Parley, N.,  2016, Monthly Notices of the Royal Astronomical Society, 457, 542:  <a href="http://adsabs.harvard.edu/abs/2016MNRAS.457..542B">Difference image analysis: automatic kernel design using information criteria</a></p> 

<p>Street, R.~A., et al.,  2016, The Astrophysical Journal, 819, 93:  
<a href="http://adsabs.harvard.edu/abs/2016ApJ...819...93S">Spitzer Parallax of OGLE-2015-BLG-0966: A Cold Neptune in the Galactic Disk</a></p> 

<p>Shvartzvald, Y., et al.,  2015, The Astrophysical Journal, 814, 111:  
<a href="http://adsabs.harvard.edu/abs/2015ApJ...814..111S">Spitzer Microlens Measurement of a Massive Remnant in a Well-separated 
Binary</a></p> 

<p>Bachelet, E., et al.,  2015, The Astrophysical Journal, 812, 136:  <a href="http://adsabs.harvard.edu/abs/2015ApJ...812..136B">Red 
Noise Versus Planetary Interpretations in the Microlensing Event 
Ogle-2013-BLG-446</a></p> 

<p>Fukui, A., et al.,  2015, The Astrophysical Journal, 809, 74:  
<a href="http://adsabs.harvard.edu/abs/2015ApJ...809...74F">OGLE-2012-BLG-0563Lb: A Saturn-mass Planet around an M Dwarf with the Mass 
Constrained by Subaru AO Imaging</a></p> 

<p>Ranc, C., et al.,  2015, Astronomy and Astrophysics, 580, A125:  
<a href="http://adsabs.harvard.edu/abs/2015A\%26A...580A.125R">MOA-2007-BLG-197: Exploring the brown dwarf desert</a></p> 

<p>Kains, N., et al.,  2015, Astronomy and Astrophysics, 578, A128:  <a href="http://adsabs.harvard.edu/abs/2015A\%26A...578A.128K">A 
census of variability in globular cluster M 68 (NGC 4590)</a></p> 

<p>Bramich, D.M., Bachelet, E., Alsubai, K.A., Mislis, D., 
& Parley, N.,  2015, Astronomy and Astrophysics, 577, A108:  <a href="http://adsabs.harvard.edu/abs/2015A\%26A...577A.108B">Difference image analysis: The interplay between the photometric scale factor and systematic photometric errors</a></p> 

<p>Jeong, J., et al.,  2015, The Astrophysical Journal, 804, 38:  <a href="http://adsabs.harvard.edu/abs/2015ApJ...804...38J">Reanalyses 
of Anomalous Gravitational Microlensing Events in the OGLE-III Early 
Warning System Database with Combined Data</a></p> 

<p>Skowron, J., et al.,  2015, The Astrophysical Journal, 804, 33:  
<a href="http://adsabs.harvard.edu/abs/2015ApJ...804...33S">OGLE-2011-BLG-0265Lb: A Jovian Microlensing Planet Orbiting an M Dwarf</a></p> 

<p>Calchi Novati, S., et al.,  2015, The Astrophysical Journal, 804, 20:  
<a href="http://adsabs.harvard.edu/abs/2015ApJ...804...20C">Pathway to the Galactic Distribution of Planets: Combined Spitzer and 
Ground-Based Microlens Parallax Measurements of 21 Single-Lens Events</a></p> 

<p>Henderson, C.B., et al.,  2014, The Astrophysical Journal, 794, 71:  
<a href="http://adsabs.harvard.edu/abs/2014ApJ...794...71H">Candidate Gravitational Microlensing Events for Future Direct Lens Imaging</a></p> 

<p>Dong, S., et al.,  2014, The Astrophysical Journal, 788, 41:  
<a href="http://adsabs.harvard.edu/abs/2014ApJ...788...41D">OGLE-LMC-ECL-11893: The Discovery of a Long-period Eclipsing Binary with a 
Circumstellar Disk</a></p> 

<p>Bennett, D.P., et al.,  2014, The Astrophysical Journal, 785, 155:  
<a href="http://adsabs.harvard.edu/abs/2014ApJ...785..155B">MOA-2011-BLG-262Lb: A Sub-Earth-Mass Moon Orbiting a Gas Giant Primary or 
a High Velocity Planetary System in the Galactic Bulge</a></p> 

<p> Tsapras, Y., et al., 2014, The Astrophysical Journal, 782, 48:
<a href="http://adsabs.harvard.edu/abs/2014ApJ...782...48T">A Super-Jupiter Orbiting a Late-type Star: A Refined Analysis of Microlensing Event OGLE-2012-BLG-0406</a></p>

<p>Kains, N.,et al., 2013,  Astronomy and Astrophysics, 552, A70: 
<a href="http://adsabs.harvard.edu/abs/2013A\%26A...552A..70K">A giant planet beyond the snow line in microlensing event 
OGLE-2011-BLG-0251</a></p> 

<p>Gould, A., et al., 2013,  The Astrophysical Journal, 763, 141: 
<a href="http://adsabs.harvard.edu/abs/2013ApJ...763..141G">MOA-2010-BLG-523: ''Failed Planet'' = RS CVn Star</a></p>

<p>Bramich, D.M., et al., 2013,  Monthly Notices of the Royal 
Astronomical Society, 428, 2275: <a href="http://adsabs.harvard.edu/abs/2013MNRAS.428.2275B">Difference image analysis: extension to a 
spatially varying photometric scale factor and other considerations</a></p>

<p>Street, R.A., et al., 2013,  The Astrophysical Journal, 763, 
67: <a href="http://adsabs.harvard.edu/abs/2013ApJ...763...67S">MOA-2010-BLG-073L: An M-dwarf with a Substellar Companion at the 
Planet/Brown Dwarf Boundary</a></p>

<p>Shin, I.-G., et al., 2012,  The Astrophysical Journal, 760, 
116: <a href="http://adsabs.harvard.edu/abs/2012ApJ...760..116S">Microlensing Binaries with Candidate Brown Dwarf Companions</a></p> 

<p>Bachelet, E., et al., 2012,  Astronomy and Astrophysics, 547, 
A55: <a href="http://adsabs.harvard.edu/abs/2012A\%26A...547A..55B">A brown dwarf orbiting an M-dwarf: MOA 2009-BLG-411L</a></p> 

<p>Choi, J.-Y., et al., 2012,  The Astrophysical Journal, 756, 48: 
<a href="http://adsabs.harvard.edu/abs/2012ApJ...756...48C">A New Type of Ambiguity in the Planet and Binary Interpretations of 
Central Perturbations of High-magnification Gravitational Microlensing 
Events</a></p> 

<p>Bozza, V., et al., 2012, Monthly Notices of the Royal Astronomical 
Society, 424, 902:  <a href="http://adsabs.harvard.edu/abs/2012MNRAS.424..902B">OGLE-2008-BLG-510: first automated real-time detection 
of a weak microlensing anomaly - brown dwarf or stellar binary?</a></p> 

<p>Bachelet, E., et al., 2012, The Astrophysical Journal, 754, 73:  <a href="http://adsabs.harvard.edu/abs/2012ApJ...754...73B">MOA 
2010-BLG-477Lb: Constraining the Mass of a Microlensing Planet from 
Microlensing Parallax, Orbital Motion, and Detection of Blended Light</a></p> 

<p>Street, R.A., et al., 2012, IAU Symposium, 285, 408:  <a href="http://adsabs.harvard.edu/abs/2012IAUS..285..408S">A Global Robotic 
Telescope Network for Time-Domain Science</a></p> 

<p>Shporer, A., Brown, T., Lister, T., Street, R., Tsapras, Y., Bianco, F., 
Fulton, B., 
& Howell, A., 2011, IAU Symposium, 276, 553:  <a href="http://adsabs.harvard.edu/abs/2011IAUS..276..553S">The LCOGT Network</a></p> 

<p>Street, R.A., et al., 2011, IAU Symposium, 276, 459:  <a href="http://adsabs.harvard.edu/abs/2011IAUS..276..459S">Exoplanet 
discovery and characterisation through robotic follow-up of microlensing 
events: Season 2010 results</a></p> 

<p>Muraki, Y., et al., 2011, The Astrophysical Journal, 741, 22:  <a href="http://adsabs.harvard.edu/abs/2011ApJ...741...22M">Discovery 
and Mass Measurements of a Cold, 10 Earth Mass Planet and Its Host Star</a></p> 

<p>Bianco, F., et al., 2011, Bulletin of the American Astronomical Society, 
\#132.04:  <a href="http://adsabs.harvard.edu/abs/2011AAS...21813204B">LIHSP: Lucky Imaging And High Speed Photometry at LCOGT</a></p> 

<p>Miyake, N., et al., 2011, The Astrophysical Journal, 728, 120:  <a href="http://adsabs.harvard.edu/abs/2011ApJ...728..120M">A 
Sub-Saturn Mass Planet, MOA-2009-BLG-319Lb</a></p> 

<p>Ryu, Y.-H., et al., 2010, The Astrophysical Journal, 723, 81:  
<a href="http://adsabs.harvard.edu/abs/2010ApJ...723...81R">OGLE-2009-BLG-092/MOA-2009-BLG-137: A Dramatic Repeating Event with the 
Second Perturbation Predicted by Real-time Analysis</a></p> 

<p>Gould, A., et al., 2010, The Astrophysical Journal, 720, 1073:  <a href="http://adsabs.harvard.edu/abs/2010ApJ...720.1073G">Frequency 
of Solar-like Systems and of Ice and Gas Giants Beyond the Snow Line from 
High-magnification Microlensing Events in 2005-2008</a></p> 

<p>Dominik, M., et al., 2010, Astronomische Nachrichten, 331, 671:  
<a href="http://adsabs.harvard.edu/abs/2010AN....331..671D">Realisation of a fully-deterministic microlensing observing strategy for 
inferring planet populations</a></p> 

<p>Cassan, A., Horne, K., Kains, N., Tsapras, Y., 
& Browne, P., 2010, Astronomy and Astrophysics, 515, A52:  <a href="http://adsabs.harvard.edu/abs/2010A%26A...515A..52C">Bayesian analysis of caustic-crossing microlensing events</a></p> 

<p>Sumi, T., et al., 2010, The Astrophysical Journal, 710, 1641:  <a href="http://adsabs.harvard.edu/abs/2010ApJ...710.1641S">A Cold 
Neptune-Mass Planet OGLE-2007-BLG-368Lb: Cold Neptunes Are Common</a></p> 

<p>Kains, N., Cassan, A., Horne, K., Tsapras, Y., 
& Browne, P., 2010, Bulletin of the American Astronomical Society, 36, \#601.09:  <a href="http://adsabs.harvard.edu/abs/2010AAS...21560109K">Developing A Systematic Bayesian Analysis Of Microlensing Events</a></p> 

<p>Albrow, M.D., et al., 2009, Monthly Notices of the Royal Astronomical 
Society, 397, 2099:  <a href="http://adsabs.harvard.edu/abs/2009MNRAS.397.2099A">Difference imaging photometry of blended 
gravitational microlensing events with a numerical kernel</a></p> 

<p>Horne, K., Snodgrass, C., 
& Tsapras, Y., 2009, Monthly Notices of the Royal Astronomical Society, 396, 2087:  <a href="http://adsabs.harvard.edu/abs/2009MNRAS.396.2087H">A metric and optimization scheme for microlens planet searches</a></p> 

<p>Kains, N., et al., 2009, Monthly Notices of the Royal Astronomical 
Society, 395, 787:  <a href="http://adsabs.harvard.edu/abs/2009MNRAS.395..787K">A systematic fitting scheme for caustic-crossing 
microlensing events</a></p> 

<p>Tsapras, Y., et al., 2009, Astronomische Nachrichten, 330, 4:  
<a href="http://adsabs.harvard.edu/abs/2009AN....330....4T">RoboNet-II: Follow-up observations of microlensing events with a robotic 
network of telescopes</a></p> 

<p>Dominik, M., et al., 2008, ArXiv e-prints, arXiv:0808.0004:  <a href="http://adsabs.harvard.edu/abs/2008arXiv0808.0004D">Inferring 
statistics of planet populations by means of automated microlensing 
searches</a></p> 

<p>Dominik, M., et al., 2008, Astronomische Nachrichten, 329, 248:  <a href="http://adsabs.harvard.edu/abs/2008AN....329..248D">ARTEMiS 
(Automated Robotic Terrestrial Exoplanet Microlensing Search): A possible 
expert-system based cooperative effort to hunt for planets of Earth mass 
and below</a></p> 

<p>Gaudi, B.S., et al., 2008, Science, 319, 927:  <a href="http://adsabs.harvard.edu/abs/2008Sci...319..927G">Discovery of a 
Jupiter/Saturn Analog with Gravitational Microlensing</a></p> 

<p>Tsapras, Y., 2008, Manchester Microlensing Conference,  <a href="http://adsabs.harvard.edu/abs/2008mmc..confE..66T">The RoboNet-II 
project: Microlensing Anomaly Follow-up with the Las Cumbres Observatory 
Global Telescope Network</a></p> 

<p>Snodgrass, C., Tsapras, Y., Street, R., Bramich, D., Horne, K., Dominik, 
M., 
& Allan, A., 2008, Manchester Microlensing Conference,  <a href="http://adsabs.harvard.edu/abs/2008mmc..confE..56S">The WEB-plop observation prioritisation system</a></p> 

<p>Dominik, M., et al., 2007, Monthly Notices of the Royal Astronomical 
Society, 380, 792:  <a href="http://adsabs.harvard.edu/abs/2007MNRAS.380..792D">An anomaly detector with immediate feedback to hunt 
for planets of Earth mass and below by microlensing</a></p> 

<p>Burgdorf, M.J., Bramich, D.M., Dominik, M., Bode, M.F., Horne, K.D., 
Steele, I.A., Rattenbury, N., 
& Tsapras, Y., 2007, Planetary and Space Science, 55, 582:  <a href="http://adsabs.harvard.edu/abs/2007P\%26SS...55..582B">Exoplanet detection via microlensing with RoboNet-1.0</a></p> 

<p>Gould, A., et al., 2006, The Astrophysical Journal, 644, L37:  <a href="http://adsabs.harvard.edu/abs/2006ApJ...644L..37G">Microlens 
OGLE-2005-BLG-169 Implies That Cool Neptune-like Planets Are Common</a></p> 

<p>Beaulieu, J.-P., et al., 2006, Nature, 439, 437:  <a href="http://adsabs.harvard.edu/abs/2006Natur.439..437B">Discovery of a cool 
planet of 5.5 Earth masses through gravitational microlensing</a></p> 

<p>Udalski, A., et al., 2005, The Astrophysical Journal, 628, L109:  <a href="http://adsabs.harvard.edu/abs/2005ApJ...628L.109U">A 
Jovian-Mass Planet in Microlensing Event OGLE-2005-BLG-071</a></p> 

<p>Snodgrass, C., Horne, K., 
& Tsapras, Y., 2004, Monthly Notices of the Royal Astronomical Society, 351, 967:  <a href="http://adsabs.harvard.edu/abs/2004MNRAS.351..967S">The abundance of Galactic planets from OGLE-III 2002 microlensing data</a></p> 

<p>Tsapras, Y., Horne, K., Kane, S., 
& Carson, R., 2003, Monthly Notices of the Royal Astronomical Society, 343, 1131:  <a href="http://adsabs.harvard.edu/abs/2003MNRAS.343.1131T">Microlensing limits on numbers and orbits of extrasolar planets from the 1998-2000 OGLE events</a></p> 

</ul>

</div> <!-- content -->

<!-- ======================================================================= -->
{% endblock %}

{% block menu_list %}
<li><a href={% url 'home_html' %}>Home</a></li>
<li><a href={% url 'research_html' %}>Research</a></li>
<li><a class="current" href={% url 'publications_html' %}>Publications</a></li>
<li><a href={% url 'group_html' %}>Group</a></li>
<li><a href={% url 'options_html' %}>Links</a></li>
{% endblock %}
